/* todo: make responsive */

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  cursor: default;
}

span,
p {
  font-family: "Barlow", sans-serif;
}

h1,
h2 {
  font-family: "Fraunces", serif;
}

/* Banner */

.banner {
  height: 90vh;
  min-height: 650px;
  background-image: url("./assets/image-header.jpg");
  background-position: center bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  color: white;
}

.menu {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: white;
}

.menu span {
  margin-right: 30px;
  cursor: pointer;
}

.menu span:hover {
  color: wheat;
  transition: 0.2s all ease-in-out;
}

.contact {
  font-family: "Fraunces", serif;
  font-size: 1rem;
  font-weight: 700;
  background-color: white;
  color: black;
  padding: 10px 26px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.contact:hover {
  background-color: antiquewhite;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 900;
  letter-spacing: 0.4rem;
  flex-grow: 1;
  color: white;
}

.arrow {
  margin-top: 60px;
  cursor: pointer;
}

/* Content Sections */

.section1,
.section2 {
  display: flex;
  height: 600px;
}

.container-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left,
.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-container {
  width: 70%;
}

.left h1 {
  font-size: 40px;
  margin-bottom: 1.4rem;
}

.left p,
.right p {
  color: hsl(232, 10%, 55%);
  line-height: 1.8;
  margin-bottom: 1.4rem;
}

.left .button1 h2,
.button2 h2 {
  width: 150px;
  text-align: center;
  font-size: 19px;
  font-weight: bolder;
  cursor: pointer;
}

.button1 h2 {
  box-shadow: inset 0 -0.5em 0 0 rgba(255, 211, 2, 0.2);
}

.button2 h2 {
  box-shadow: inset 0 -0.5em 0 0 rgba(254, 111, 99, 0.2);
}

.left1 {
  background-image: url("./assets/image-graphic-design.jpg");
}

.right1 {
  background-image: url("./assets/image-photography.jpg");
}

.left1,
.right1 {
  flex: 1;
  display: flex;
  justify-content: center;
  background-position: center top;
  background-size: cover;
  padding-bottom: 20px;
  align-items: flex-end;
}

.text-container-top {
  width: 70%;
}
.text-container-top h1 {
  font-size: 1.8rem;
}

.text-container-top p {
  margin-top: 20px;
  font-size: 0.9rem;
  line-height: 1.7;
}

.left1 h1,
.left1 p {
  text-align: center;
  color: #336c60;
}

.right1 h1,
.right1 p {
  text-align: center;
  color: #1c5d80;
}

/* Testimonials */

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: hsl(232, 10%, 55%);
  padding: 90px 50px;
  height: 550px;
}

.testimonials h1 {
  color: hsl(210, 4%, 67%);
  font-size: 22px;
  letter-spacing: 0.3rem;
  margin-bottom: 50px;
}

.clients {
  display: flex;
  justify-content: space-between;
}

.clients .client {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  align-items: center;
  justify-content: space-between;
}

.client-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 30px;
}

.client-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.client p {
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
  color: hsl(232, 10%, 55%);
  line-height: 1.8;
}

.client .details {
  text-align: center;
}

.client .details p {
  font-size: 0.9rem;
  margin-top: 8px;
  color: hsl(210, 4%, 67%);
}

.client .details h2 {
  font-size: 1.1rem;
  font-weight: 900;
  color: black;
}

/* Gallery */

.gallery {
  display: flex;
}

.gallery .gallery-container {
  flex: 0.25;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #90d4c5;
  padding: 50px 0;
  height: 220px;
}

.footer .logo {
  color: #2d7665;
}

.footer .footer-nav {
  font-weight: bold;
  font-size: 14px;
  color: #499c89;
  margin-top: 30px;
}

.footer-nav span {
  font-size: 1rem;
  padding: 18px;
  cursor: pointer;
}

.footer-nav span:hover {
  color: #3e8372;
}

.footer .socials {
  margin-top: 75px;
  margin-bottom: 2px;
}

.socials a {
  padding: 14px;
}

.socials img {
  cursor: pointer;
}

@media (max-width: 576px) {
  .banner .menu {
    display: none;
  }

  .banner .main {
    font-size: 40px;
  }

  .section2 {
    flex-direction: column;
    height: auto;
  }

  .section1 {
    flex-direction: column-reverse;
    height: auto;
  }

  .section1 .left,
  .section2 .left {
    padding: 30px 0;
  }

  .testimonials {
    padding: 60px 40px;
  }

  .testimonials h1 {
    margin-bottom: 10px;
  }

  .testimonials .clients {
    flex-direction: column;
  }

  .clients .client {
    margin-top: 40px;
  }

  .client p {
    margin-bottom: 10px;
  }

  .gallery {
    flex-wrap: wrap;
  }

  .gallery .gallery-container {
    flex: 0.5;
    flex-basis: 50%;
  }
}
